/* Social Media Accounts w/links

Facebook: https://www.facebook.com/mediaresearchcenter
Twitter: https://twitter.com/theMRC
YouTube: https://www.youtube.com/user/MRCTVdotOrg
Instagram: https://www.instagram.com/mediaresearchcenter/
Parler: https://parler.com/#/user/theMRC
Rumble: https://rumble.com/c/MRCTV
Gettr: https://gettr.com/user/themrc
Clapper: https://clapperapp.com/TheMRCTV
LinkedIn: https://www.linkedin.com/company/media-research-center
Tiktok: https://www.tiktok.com/@themrctv

*/

/* global formats */

:root {
  --mrc-blue: #002f87;
  --mrc-gold: #c9920e;
  --mrc-grey: #333e48;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  /* background: #f9f9f9; */
  height: 100vh;
}

* {
  box-sizing: border-box;
}

header {
  background-color: var(--mrc-blue);
  padding: 1rem;
}

header .mrclogo img {
  max-width: 100%;
  margin: 0 auto;
  height: 5rem;
}

header .header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .mrclogo {
  height: 100%;
}

li {
  list-style: none;
}

span {
  font-size: 16px;
  font-weight: 100;
}

.logo {
  margin-top: 50px;
}

.back--nb {
  width: 150px;
  height: auto;
  position: relative;
  bottom: -0.6rem;
}

.back--mrc {
  width: 150px;
  height: 35px;
  /* background: #002f87; */
  border-radius: 5px;
}

.back--latino {
  /* position: relative; */
  /* margin-left: 13px; */
  display: block;
  width: 100px;
  height: auto;
  /* bottom: 10px; */
}

.back--culture {
  position: relative;
  /* margin-left: 13px; */
  display: block;
  width: 100px;
  height: auto;
  top: 8px;
}

.back--mrctv {
  position: relative;
  /* margin-left: 13px; */
  display: block;
  width: 100px;
  height: auto;
  bottom: 10px;
}

.back--mrctv-pl {
  position: relative;
  margin-left: 13px;
  display: block;
  width: 100px;
  height: auto;
  bottom: 10px;
}

.back--cns {
  position: relative;
  display: block;
  /* margin-left: 13px; */
  bottom: 5px;
  width: 105px;
  height: auto;
}

.back--cns-pl {
  position: relative;
  display: block;
  margin-left: 13px;
  /* bottom: 5px; */
  width: 105px;
  height: auto;
}

.back--fsa {
  position: relative;
  top: 1rem;
  width: 150px;
  height: auto;
}

.logo-parler {
  width: 70px;
  height: 50px;
  display: block;
  margin: 50px auto 10px auto;
}

.logo-tiktok {
  width: 50px;
  height: 50px;
  display: block;
  margin: 50px auto 10px auto;
}

.logo-clapper {
  width: 70px;
  height: 70px;
  display: block;
  margin: 40px auto -6px auto;
}

.logo-rumble {
  width: 50px;
  height: 50px;
  display: block;
  margin: 50px auto 10px auto;
}

.logo-gettr {
  width: 70px;
  height: 50px;
  display: block;
  margin: 50px auto 10px auto;
}

.sm_name {
  font-size: 21px;
  margin: 6px auto 35px auto;
  font-weight: bold;
}

.detail {
  font-size: 0.9em;
}

.follow-btn {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Helvetica";
  font-size: 12pt;
  position: relative;
  width: auto;
  height: auto;
  padding: 3px;
  top: 10px;
  border-radius: 3px;
  border: 1px solid;
}

button:hover {
  color: #002f87;
}

.grid {
  display: grid;
  place-items: center;
  grid-gap: 3rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
  margin: 3% 10%;
}

.card {
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  height: 15.5rem;
  width: 180px;
  text-align: center;
  font-family: "Helvetica";
  transform-style: preserve-3d;
  transition: all 0.5s ease-out;
}

.cards {
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  height: 15.5rem;
  width: 180px;
  text-align: center;
  font-family: "Helvetica";
  /* transform-style: preserve-3d;
  transition: all 0.5s ease-out; */
}

.active {
  background-color: #002f87;
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.theback {
  display: grid;
  position: absolute;
  place-items: center;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
