/* Social Media Accounts w/links

Facebook: https://www.facebook.com/mediaresearchcenter
Twitter: https://twitter.com/theMRC
YouTube: https://www.youtube.com/user/MRCTVdotOrg
Instagram: https://www.instagram.com/mediaresearchcenter/
Parler: https://parler.com/#/user/theMRC
Rumble: https://rumble.com/c/MRCTV
Gettr: https://gettr.com/user/themrc
Clapper: https://clapperapp.com/TheMRCTV
LinkedIn: https://www.linkedin.com/company/media-research-center
Tiktok: https://www.tiktok.com/@themrctv

*/

/* global formats */

:root {
  --mrc-blue: #002f87;
  --mrc-gold: #c9920e;
  --mrc-grey: #333e48;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  background: #f9f9f9;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

header {
  background-color: var(--mrc-blue);
  padding: 1rem;
}

header .mrclogo img {
  max-width: 100%;
  margin: 0 auto;
  height: 5rem;
}

header .header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .mrclogo {
  height: 100%;
}

li {
  list-style: none;
}

.logo {
  margin-top: 50px;
}

.back--grid {
  list-style-type: none;
  /* display: grid; */
  /* grid-template-rows: repeat(4, autofit); */
  /* row-gap: 0.7rem; */
}

.back--nb {
  width: 95%;
  height: 70%;
  /* background: #ee7624; */
  /* border-radius: 5px; */
  /* position: absolute; */
  grid-area: first;
}

.back--mrc {
  width: 150px;
  height: 35px;
  /* background: #002f87; */
  border-radius: 5px;
}

.back--mrctv {
  background: #f9f9f9;
  width: 150px;
  height: auto;
  padding: 10px;
}

.back--cns {
  width: 95%;
  height: 70%;
  grid-area: second;
}

.back--fsa {
  width: 95%;
  height: 70%;
  grid-area: third;
}

.logo-parler {
  width: 70px;
  height: 50px;
  display: block;
  margin: 50px auto 10px auto;
}

.logo-tiktok {
  width: 50px;
  height: 50px;
  display: block;
  margin: 50px auto 10px auto;
}

.logo-rumble {
  width: 50px;
  height: 50px;
  display: block;
  margin: 50px auto 10px auto;
}

.logo-gettr {
  width: 70px;
  height: 50px;
  display: block;
  margin: 50px auto 10px auto;
}

.sm_name {
  font-size: 21px;
  margin: 6px auto 35px auto;
  font-weight: bold;
  /* padding-top: 1rem; */
}

.detail {
  font-size: 0.9em;
}

.follow-btn {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Helvetica";
  font-size: 12pt;
  position: relative;
  width: auto;
  height: auto;
  padding: 3px;
  top: 10px;
  border-radius: 3px;
  cursor: hand;
  border: 1px solid;
}

button:hover {
  color: #002f87;
}

.grid {
  display: grid;
  place-items: center;
  grid-gap: 3rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
  margin: 3% 10%;
  /* grid-template-columns: repeat(12,1fr); */
}

.card {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  height: 15.5rem;
  width: 180px;
  text-align: center;
  font-family: sans-serif;
}

.front {
  width: 100%;
  height: 100%;
}

.back {
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 0.75rem;
  grid-template-rows: 25px 25px;
  background: #002f87;
}

.back--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #002f87;
  /* color: #fff; */
}
