/* Social Media Accounts w/links

Facebook: https://www.facebook.com/mediaresearchcenter
Twitter: https://twitter.com/theMRC
YouTube: https://www.youtube.com/user/MRCTVdotOrg
Instagram: https://www.instagram.com/mediaresearchcenter/
Parler: https://parler.com/#/user/theMRC
Rumble: https://rumble.com/c/MRCTV
Gettr: https://gettr.com/user/themrc

LinkedIn: 
Tiktok: https://www.tiktok.com/@themrctv

*/

/* global formats */

:root {
  --mrc-blue: #002f87;
  --mrc-gold: #c9920e;
  --mrc-grey: #333e48;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  background: #f9f9f9;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  /* font-size: 21px; */
  box-sizing: border-box;
}

header {
  background-color: var(--mrc-blue);
  padding: 1rem;
}

header .mrclogo img {
  max-width: 100%;
  margin: 0 auto;
  height: 5rem;
}

header .header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .mrclogo {
  height: 100%;
}

.logo {
  /* object-fit: cover; */
  /* border-radius: 50%; */
  /* margin: 0 auto 20px auto; */
  margin: 25px auto 0px auto;
  display: block;
  /* margin-top: 10px; */
  margin-top: 50px;
}

.back--grid {
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(4, autofit);
  row-gap: 0.7rem;
}

.back--nb {
  width: 150px;
  height: 37px;
  background: #c9920e;
  border-radius: 5px;
}

.back--mrc {
  width: 150px;
  height: 35px;
  background: #002f87;
  border-radius: 5px;
}

.back--mrctv {
  background: #f9f9f9;
  width: 150px;
  height: auto;
  /* padding: 10px; */
}

.back--cns {
  background: #0055bb;
  width: 150px;
  height: 35px;
  border-radius: 5px;
}

.back--fsa {
  background: #2226ce;
  width: 150px;
  height: 35px;
  border-radius: 5px;
}

.logo-parler {
  width: 70px;
  height: 48px;
  display: block;
  margin: 45px auto 10px auto;
}

.logo-tiktok {
  width: 50px;
  height: 45px;
  display: block;
  margin: 45px auto 10px auto;
}

.logo-rumble {
  width: 50px;
  height: 45px;
  display: block;
  margin: 45px auto 10px auto;
}

.logo-gettr {
  width: 70px;
  height: 48px;
  display: block;
  margin: 45px auto 10px auto;
}

.sm_name {
  font-size: 21px;
  margin: 6px auto 35px auto;
  font-weight: bold;
  /* padding-top: 1rem; */
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}

.follow-btn {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Helvetica";
  font-size: 12pt;
  position: relative;
  width: 75px;
  height: 30px;
  top: 10px;
  border-radius: 3px;
  cursor: hand;
  border: 1px solid;
}

button:hover {
  color: #002f87;
}

.material-icons {
  /* Here I want to put the person on the same grid-line as FB */
}

.wrapper {
  /* padding: 3rem 10rem;
  align-items: center; */
  /* height: 80vh; */
  /* margin: 20px auto; */
  /* width: 50%; */
  /* display: grid; */
  /* grid-template-columns: repeat(autofit, minmax(214px, 1fr)); */
  /* gap: 20px; */
  /* position: relative; */
}

.grid {
  display: grid;
  /* grid-gap: 3rem 2rem; */
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(214px, 1fr)); */
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
}

.card {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  position: relative;
  /* padding: 2rem; */
  height: 15.5rem;
  max-width: 214px;
  place-items: center;
  text-align: center;
  font-family: sans-serif;
}

.card .card--side {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card .front {
  opacity: 1;
}
.card .back {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1025px) {
  /* .grid {
    display: grid;
    grid-gap: 3rem 2rem;
    justify-content: center;
    grid-template-columns: repeat (2, 1fr);
  } */

  /* .wrapper {
    grid-template-columns: repeat(autofit, minmax(214px, 1fr));
    margin: 20px auto;
    width: 214px;
  } */
}
